.page-banner {
	padding: 100px 0;
	background-color: #e7fff0;
}
.breadcrumb-text a {
	text-decoration: none;
	font-weight: 700;
	color: #3ec16f;
}

span.divider {
	display: inline-block;
	margin: 0 10px;
}

.breadcrumb-text {
	margin-top: 15px;
}
